<h1>Editing Entry</h1>

<%= render 'form', entry: @entry %>

<div class="text-center mt-4">
<%= link_to 'Show', @entry ,class:"btn btn-primary text-white" %> 
<%= link_to 'Back', entries_path ,class:"btn btn-success text-white"%>
</div>
