<div class="text-white text-center">
<div class="bg-primary jumbotron jumbotron-fluid rounded">
  <div class="container">
    <h1 class="display-4">Employer App</h1>
    <p class="lead mt-3">Manage Employer CREATE.READ.EDIT.DELETE</p>
  </div>
</div>
</div>